mat-card {
  background: rgba(175, 180, 147, 0.37);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  background: blur(70px);
  top: 50%;
  transform: translateY(-70%);
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.header{
  text-align: center;

}
.full-width {
  width: 80%;
}

.button-row {
  padding-top: 5px;
  cursor: pointer;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.emailInput{
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 86%;
  bottom: -10px;
  left: 48%;
  right: 50%;
  height: inherit;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
